body {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
}

/* ---------- Control ----------- */

div#control {
    height: 20px;
    width: 350px;
    background-color: #ddd;
    padding: 0;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    -webkit-app-region: drag;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.315);
}

div#control button {
    -webkit-app-region: no-drag;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 1px;
    margin: 0;
    width: 18px;
    height: 18px;
    position: absolute;
}

button#menu {
    left: 1px;
}

button#exit {
    right: 7px;
}

button#minimize {
    right: 27px;
}

.button img {
    transition: filter 0.5s ease;
    width: 18px;
    filter: saturate(0);
}
.button img:hover {
    filter: saturate(1.5);
}

/* ------------------------------ */

/* ------------ Body ------------ */

div#body {
    width: 350px;
    height: 470px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.315);
}

div#body::-webkit-scrollbar {
    width: 10px;
    background-color: #ddd;
    border-radius: 10px;
}
div#body::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: #999;
}

h1#participant_list {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    color: rgb(170, 170, 170);
    border-bottom: 2px solid rgb(170, 170, 170);
    margin: 0; margin-bottom: 10px;
    padding: 10px;

}

button#add_button {
    width: 40px;
    height: 25px;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: white;
    border: 2px solid rgb(151, 145, 156);
    color: rgb(151, 145, 156);
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    margin: 5px;
}
button#add_button:hover {
    background-color: rgb(96, 91, 100);
    color: white;
}

/* Point Blocks */

div.p_block {
    height: 60px;
    width: 320px;
    display: block;
    position: relative;
    border: 2px solid rgb(151, 145, 156);
    border-radius: 8px;
    margin: 5px;
    background-color: rgb(209, 202, 216);
}

div.p_block input {
    margin: 3px;
    padding-left: 5px;
    display: block;
    border: 2px solid rgb(151, 145, 156);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-bottom: 4px;
    width: 300px;
    background-color: rgb(96, 91, 100);
    color:  white;
}
div.p_block input::placeholder {
    color:  rgba(255, 255, 255, 0.486);
}

div.p_block p.point_indicator {
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(96, 91, 100);
    display: inline;
    padding-right: 5px; padding-left: 5px;
    padding-top: 1px; padding-bottom: 1px;
    margin-left: 3px; margin-top: 0px;
    border-radius: 5px;
    color: white;
}

div.p_block p.point {
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(96, 91, 100);
    display: inline-flex;
    padding-right: 5px; padding-left: 5px;
    padding-top: 1px; padding-bottom: 1px;
    margin: 0;
    margin-left: 3px; margin-top: 0px;
    border-radius: 5px;
    color: white;
    height: 18px;
}

div.p_block p.point button {
    background-color: rgb(78, 65, 85);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: white;
    padding-left: 3px; padding-right: 3px; padding-bottom: 2px;
    margin: 0;
    border-radius: 30px; 
    font-size: 10px;
    margin-top: 1.5px;
    margin-right: 0px;
    margin-left: 5px;
    border: none;
    height: 15px;
    width: 15px;
}

div.p_block p.point button:hover {
    color: red;
    background-color: rgb(238, 176, 165);
}

div.point_list {
    display: inline-block;
}

div.p_block button.add_point {
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: white;
    border: 2px solid rgb(151, 145, 156);
    color: rgb(151, 145, 156);
    font-weight: bold;
    border-radius: 30px;
    margin: 5px;
    height: 23px;
    display: inline-block;
    margin-top: 0px;
}

div.p_block button.add_point:hover {
    background-color: rgb(96, 91, 100);
    color: white;
}

div.p_block button.remove_block {
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgb(216, 183, 183);
    border: 2px solid rgb(151, 145, 156);
    color: rgb(151, 145, 156);
    font-weight: bold;
    border-radius: 30px;
    margin-right: 5px;
    height: 23px;
    display: inline;
    float: right;
    margin-top: 0px;
}

div.p_block button.remove_block:hover {
    background-color: rgb(177, 0, 0);
    color: white;
}

/* ------------------------------ */